* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background:#000; */
}

body {
    background: #000;
    width: 100%;


}

html,
body {
    overflow-x: hidden;
}

.main {
    width: 100%;
    min-height: 200vh;
    background: #000;
    color: #fff;
    padding: 0 8px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    background: transparent;
    width: 100%;

}

.logo {
    width: 150px;
    height: 80px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;


}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition-delay: 0.3s;
}

nav ul li a:hover::after {
    width: 50%;
}

.actived a:active {
    background-color: #ffeb3b;
}



.text {
    padding: 15px 55px;
    margin-top: 10%;
    margin-left: 5%;
    letter-spacing: 1px;
    line-height: 30px;
}

.text h1 {
    font-size: 120px;
    line-height: 160px;
    padding-bottom: 10px;
}

.text a {
    margin-top: 30px;
    display: inline-block;
    border-radius: 6px;
    border: 2px solid #fff724;
    color: #fff724;
    padding: 10px 30px;
    text-decoration: none;


}

.text .btn {
    background: #fff724;
    color: #000;
    margin-left: 30px;
    font-weight: 600;
}

.user-img {
    width: 540px;
    position: absolute;
    right: 8%;
    bottom: 30%;
}

.about {
    width: 70%;
    height: 100vh;
    margin-top: 15%;
    margin-left: 17%;
    font-size: 25px;
    letter-spacing: 1px;
    padding: 18px 0;
    background-image: url("https://i.pinimg.com/originals/79/a3/84/79a384c3c449ad01b0e57e790807b2c0.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    padding: 0 8%;

}

.about h1,
.about h2 {
    padding: 5px 23px;
}

.about-head {
    display: flex;
    text-align: center;
    font-weight: 600;
    padding-bottom: 30px;
    justify-content: center;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background-image: url(img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

.skill h1 {
    text-align: center;
    margin: auto;
    width: 400px;
    font-weight: 600;
    padding-bottom: 45px;
    padding-top: -70px;
    font-size: 50px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background-image: url(img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}


.skills {
    margin-left: 32%;
}

.skills h2 {
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 18px;

}

.progress-bar {
    background: #959595;
    width: 600px;
    height: 10px;
    border-radius: 5px;
}

.progress-bar div {
    height: 10px;
    border-radius: 5px;
    /* background-color: red; */
    width: 0%;
}

.progress-bar div span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #222;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.html {
    background: #e91e63;
    animation: html 1s linear forwards;

}

.css {
    background: #cddc39;
    animation: css 1s linear forwards;
}

.bootstrap {
    background: #00bcd4;
    animation: bootstrap 1s linear forwards;
}

.javascript {
    background: #ffeb3b;
    animation: javascript 1s linear forwards;
}

.jquery {
    background: #9c27b0;
    animation: jquery 1s linear forwards;
}

.python {
    background: #9c27;
    animation: python 1s linear forwards;
}

.html span {
    border: 1px solid #e91e63;

}

.css span {
    border: 1px solid #cddc39;

}

.bootstrap span {
    border: 1px solid #00bcd4;

}

.javascript span {
    border: 1px solid #ffeb3b;

}

.jquery span {
    border: 1px solid #9c27b0;

}

.python span {
    border: 1px solid #9c27;

}

@keyframes html {
    100% {
        width: 86%;
    }
}

@keyframes css {
    100% {
        width: 75%;
    }
}

@keyframes bootstrap {
    100% {
        width: 76%;
    }
}

@keyframes javascript {
    100% {
        width: 66%;
    }
}

@keyframes jquery {
    100% {
        width: 60%;
    }
}

@keyframes python {
    100% {
        width: 75%;
    }
}

.content h3 {
    color: #ffeb3b;
}

.contact {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* background: #333; */

}

.contact h2 {
    text-align: center;
    margin: auto;
    width: 400px;
    font-weight: 600;
    padding-bottom: 45px;
    padding-top: 50px;
    margin-top: 20px;
    font-size: 50px;
    position: relative;
    left: 76%
}

.contact h2 {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background-image: url(img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

.formvalue {
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    left: 32%;
}

form {
    background: oldlace;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 20px;
}

form h3 {
    color: #000;
    font-weight: 600;
    margin-bottom: 20px;
}

form input,
form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;

}

form button {
    padding: 15px;
    background: #fff724;

    color: #000;
    font-size: 25px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 6px;
}

.typed-cursor {
    color: #fff724;
    width: 50px;

}

#auto-typed {
    font-size: 40px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background-image: url(img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

.popup {
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0;
    10px
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

}

footer {
    color: #fff;
    text-align: center;
    align-items: center;
    padding-top: 30px;
    margin: 10px;
}

footer p {
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
}

#preloader {
    background: #000 url(img/preload.gif);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    border-bottom;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10%;

}

/* project */
.project {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.project h2 {
    text-align: center;
    margin: auto;
    width: 400px;
    font-weight: 600;
    padding-bottom: 45px;
    padding-top: 50px;
    margin-top: 20px;
    font-size: 50px;
    position: relative;
    left: 76%;

    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background-image: url(img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

.project-card {
    /* border: 2px solid #fff; */
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100vh; */

}

.content h3 {
    font-size: 25px;
    font-weight: 600;
    justify-content: center;
}

.content p {
    font-size: 18px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card {
    /* border: 1px solid #f5f5f5; */
    /* width: 30px; */
    min-height: 200px;
    overflow: hidden;
    /* flex: 0 0 215px; */
    flex-basis: 30%;
    align-items: center;
    padding: 10px 50px;
    margin: 30px 50px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px 10px;
}

#invesible {
    display: none;
}

#invesible1 {
    display: none;
}

#invesible2 {
    display: none;
}

#invesible3 {
    display: none;
}

#invesible4 {
    display: none;
}

#invesible5 {
    display: none;
}

#read-more {
    cursor: pointer;
    float: right;
    border: 20px;
    background: transparent;
    color: #fff;
}

#read-more1 {
    cursor: pointer;
    float: right;
    border: 20px;
    background: transparent;
    color: #fff;
}

#read-more2 {
    cursor: pointer;
    float: right;
    border: 20px;
    background: transparent;
    color: #fff;
}

#read-more3 {
    cursor: pointer;
    float: right;
    border: 20px;
    background: transparent;
    color: #fff;
}

#read-more4 {
    cursor: pointer;
    float: right;
    border: 20px;
    background: transparent;
    color: #fff;
}

#read-more5 {
    cursor: pointer;
    float: right;
    border: 20px;
    background: transparent;
    color: #fff;
}

.services {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.services h2 {
    text-align: center;
    margin: auto;
    width: 400px;
    font-weight: 600;
    padding-bottom: 45px;
    padding-top: 50px;
    margin-top: 20px;
    font-size: 50px;
    position: relative;
    left: 76%;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background-image: url(img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

/* services */
.services-cont {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    /* flex-wrap: wrap; */
}

.serv {
    min-height: 200px;
    overflow: hidden;
    /* flex: 0 0 215px; */
    flex-basis: 30%;
    align-items: center;
    padding: 10px 50px;
    margin: 30px 50px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px 10px;
    border: inset;
    padding-top: 70px;
}

.serv h3 {
    font-size: 25px;
    font-weight: 600;
    word-spacing: 1px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffeb3b;
}

.serv p {
    font-size: 18px;
    text-align: center;
    text-transform: unset;
    pad: 5px;
}

.ficon {
    color: #fff;
    padding-bottom: ;
    : 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

i {
    color: #fff;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    color: #fff;
}

/* mobile view */
.mobile-view {
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobule-nav {
    width: 5rem;
    height: 5rem;

}

.mobule-nav[name="close-outline"] {
    display: none;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.icon ion-icon {
    font-size: 70px;
    font-weight: 300;
    margin-bottom: 40px;
    margin-top: 2px;
    padding-top: 0;
}

.follow {
    /* background: #fff; */
    width: 100%;
    /* height: 100vh; */
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.follow ion-icon {
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 50px;
    padding: 20px;
}


/* responsive */
@media(max-width:62em) {
    .mobile-view {
        display: block;
        position: fixed;
        top: 0;
        right: 0;

    }

    .logo {
        position: fixed;
        top: 0;
        left: 5px;
    }

    nav ul {
        display: none;

        width: 100%;
        height: 100vh;
        background: #000;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin-top: 20px;
        padding: 8px 0;
    }

    .intro {
        margin-top: 24%;
        width: 100%;
        height: 100vh;
    }

    .user-img {
        display: none;
    }

    .intro a {
        padding: 10px;
        width: 150px;
        margin-left: 33px;
        justify-items: center;
    }

    .about {
        /* padding: 10px; */
        margin-top: -50%;
        margin-left: 0;
       padding-bottom: 90px;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        background-size: 100%;
        
    }

    .about-head {
        text-align: center;
        margin-top: 60px;
    }

    .skill h1 {
        padding: 10px 0;
        /* width: 100%; */
        justify-content: center;
        text-align: center;
        margin-top: 90%;
        position: relative;
    }

    .skills {
        width: 80%;
        height: 100vh;
        margin-bottom: -70%;
    }

    .progress-bar {
        width: 80%;
        margin-left: -50px;
    }

    .project {
        width: 100%
    }

    .project h2 {
        text-align: center;
        justify-content: center;
        width: 100%;
        margin-left: -74%;
        padding: 0;

    }

    .project-card {
        width: 100%;
        /* height: 100px; */
        /* display: flex; */
        flex-direction: column;
    }

    .services {
        width: 100%;
        /* min-width: 150px; */
        /* width: 300px; */

    }

    .services h2 {
        text-align: center;
        justify-content: center;
        padding: 0;
        margin-left: -79%;
        /* margin: 10px; */

    }

    .services-cont {
        flex-direction: column;
    }

    .contact {
        max-width: 300px;
        display: flex;

    }

    .contact h2 {
        text-align: center;
        justify-content: center;
        /* margin: auto; */

        margin-left: -79%;
    }

    .formvalue {
        width: 100%;
        display: block;
        text-align: center;
        left: 0;
    }

    .formvalue form {
        width: 80%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        text-align: left;

    }

    form input,
    form textarea {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    form button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;


    }



}
