* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background:#000; */
}

body {
    /* background: #000; */
    background: var(--body-color);
    width: 100%;
}

:root {
    --body-color: #000;
    --text-color: #fff;
    --nav-color: #000;
    --btn-color: #fff724;
}

.dark-theme {
    --body-color: rgba(255, 255, 255, 0.566);
    --text-color: #000;
    --nav-color: #fff;
    --btn-color: #000;
}

html,
body {
    overflow-x: hidden;
}

.main {
    width: 100%;
    min-height: 200vh;
    background: var(--body-color);
    color: var(--text-color);
    padding: 0 8px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    background: transparent;
    width: 100%;
    background: var(--nav-color);
    color: var(--text-color);

}

.logo {
    width: 150px;
    height: 80px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    position: relative;


}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition-delay: 0.3s;
}

nav ul li a:hover::after {
    width: 50%;
}

.actived a:active {
    background-color: #ffeb3b;
}

.dark {
    display: inline-block;
    margin-right: 15px;
}

.switch-btn {
    display: inline-block;
    cursor: pointer;
}

#darkbtn {
    background: #fff;
    width: 45px;
    /* border: 10px solid red; */
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;

}

#darkbtn span {
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 50%;
    background: #ccc;
    align-items: center;
}

#dark-btn.dark-btn-on {
    padding-left: 23px;
    background: #0a0a0a;

}


.container {
    padding: 10px 10%;

}

.sub_title {
    font-size: 60px;
    font-weight: 600;
    color: #ccc;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.about_left {
    flex-basis: 35%;
}

.about_left img {
    width: 100%;
    border-radius: 15px;
}

.about_right {
    flex-basis: 60%;
}

.text {
    padding: 15px 55px;
    margin-top: 10%;
    margin-left: 5%;
    letter-spacing: 1px;
    line-height: 30px;
    flex-basis: 35%;

}

.text h1 {
    font-size: 120px;
    line-height: 160px;
    padding-bottom: 10px;
}

.text a {
    margin-top: 30px;
    display: inline-block;
    border-radius: 6px;
    border: 2px solid #fff724;
    color: var(--btn-color);
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;


}

.text .btn {
    background: #fff724;
    color: #000;
    margin-left: 30px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 40px;
}

.seemorebtn:hover {
    color: #000;
}

.user-img {
    width: 540px;
    position: absolute;
    right: 8%;
    bottom: 30%;
    flex-basis: 55%;
}

#about {
    margin: 10px 3px;
}

.about {
    width: 100%;
    min-height: 100vh;
    /* height: 100vh; */
    /* margin-top: 15%;
    margin-left: 17%; */
    font-size: 25px;
    letter-spacing: 1px;
    padding: 18px 0;
    /* background-image: url("https://i.pinimg.com/originals/79/a3/84/79a384c3c449ad01b0e57e790807b2c0.gif"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    padding: 0 8%;

}

.about h1,
.about h2 {
    padding: 5px 23px;
}



.skill_list {
    padding: 20px 30%;
    box-shadow: rgba(164, 164, 164, 0.2) 0px 5px 15px;
}

.skillsprogressbar {
    width: 100%;
    margin: 8px 0;
    padding: 4px 0;
    cursor: pointer;
    transition: transform 0.3s ease-in;
}

.skillsprogressbar:hover {
    transform: scaleY(1.15);
}



@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}


.skills {
    margin-left: 32%;
}

.skills h2 {
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--text-color);
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 18px;

}

.progress-bar {
    background: #959595;
    width: 600px;
    height: 10px;
    border-radius: 5px;
}

.progress-bar div {
    height: 10px;
    border-radius: 5px;
    /* background-color: red; */
    width: 0%;
}

.progress-bar div span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: var(--body-color);
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.html {
    background: #e91e63;
    animation: html 1s linear forwards;

}

.css {
    background: #cddc39;
    animation: css 1s linear forwards;
}

.bootstrap {
    background: #00bcd4;
    animation: bootstrap 1s linear forwards;
}

.javascript {
    background: #ffeb3b;
    animation: javascript 1s linear forwards;
}

.jquery {
    background: #9c27b0;
    animation: jquery 1s linear forwards;
}

.python {
    background: #9c27;
    animation: python 1s linear forwards;
}

.react {
    background: #00ffeeda;
    animation: react 1s linear forwards;
}

.html span {
    border: 1px solid #e91e63;

}

.css span {
    border: 1px solid #cddc39;

}

.bootstrap span {
    border: 1px solid #00bcd4;

}

.javascript span {
    border: 1px solid #ffeb3b;

}

.jquery span {
    border: 1px solid #9c27b0;

}

.python span {
    border: 1px solid #9c27;

}

.react span {
    border: 1px solid #00bcd4;

}

@keyframes html {
    100% {
        width: 86%;
    }
}

@keyframes css {
    100% {
        width: 75%;
    }
}

@keyframes bootstrap {
    100% {
        width: 76%;
    }
}

@keyframes javascript {
    100% {
        width: 66%;
    }
}

@keyframes jquery {
    100% {
        width: 60%;
    }
}

@keyframes python {
    100% {
        width: 75%;
    }
}

@keyframes react {
    100% {
        width: 55%;
    }
}

.work-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#testimonial {
    /* width: 100%; */
    margin: 30px 0;
}

.testimonial_list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 2px;
    width: 100%;
}

.testimonial_profile {
    width: 350px;
    min-height: 300px;
    /* border: 2px solid red; */
    position: relative;
    bottom: -5px;
    margin-right: 5px;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px 10px;
    margin-top: 50px;
    flex-basis: 30%;
}

.testimonial_profile:hover {
    transform: translateY(-5px)
}

.testimonial_profile img {
    width: 100px;
    min-height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 60px);
    border-radius: 50%;
    border: 5px solid #ff004f;
}

.testimonial_profile p {
    position: absolute;
    bottom: 80px;
    left: 5px;
    right: 5px;
    margin: 5px 15px;
    text-align: center;
}

.testimonial_profile h3 {
    position: absolute;
    bottom: 50px;
    left: 25px;
    right: 25px;
    text-align: center;
}

.testimonial_profile h3 span {
    margin: 2px 10px;
    text-decoration: solid;
    font-weight: 400;
    font-size: 40px;
    color: #ff004f;
}

#contactme {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.contact_left {

    flex-basis: 35%;
}

.contact_right {
    flex-basis: 60%;
}

.contact_left img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px;
}

.content h3 {
    color: #ffeb3b;
}

.contact {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* background: #333; */

}

.contact h2 {
    text-align: center;
    margin: auto;
    width: 400px;
    font-weight: 600;
    padding-bottom: 45px;
    padding-top: 50px;
    margin-top: 20px;
    font-size: 50px;
    position: relative;
    left: 76%
}

.contact h2 {
    color: transparent;
    -webkit-text-stroke: 1px var(--text-color);
    background-image: url(img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

.contact_right form {
    width: 100%;
    margin-top: 15px;

}
#msg{
    color: #ff004f;
    margin-top: -20px;
    display: block;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;

}

.social-icon {
    margin-top: 30px;

}

.social-icon a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icon a:hover {
    color: #fff724;
    transform: translateY(-5px);
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #fff724;
    border-radius: 6px;
    padding: 14px 50px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}

.btn:hover {
    background: #fff724;
}

.btn.btn2 {
    display: inline-block;
    background: #fff724;
    color: #000;
}

.btn.btn2:hover {
    box-shadow: inset #fff;
    transform: translateY(-5px)
}


/* .formvalue {
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    left: 32%;
} */

/* form {
    background: oldlace;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 20px;
} */
/* 
form h3 {
    color: #000;
    font-weight: 600;
    margin-bottom: 20px;
}

form input,
form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;

}

form button {
    padding: 15px;
    background: #fff724;

    color: #000;
    font-size: 25px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 6px;
} */

.typed-cursor {
    color: #fff724;
    width: 50px;

}

#auto-typed {
    font-size: 40px;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-color);
    background-image: url(img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

.popup {
    width: 400px;
    background-color: var(--text-color);
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0;

}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: var(--text-color);
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

}

footer {
    color: var(--text-color);
    text-align: center;
    align-items: center;
    padding-top: 30px;
    margin: 10px;
    /* border: 1px solid #ccc; */
}

footer p {
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
}

#preloader {
    background: var(--body-color) url(img/preload.gif);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    border-bottom;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10%;

}

/* project */
#project {
    width: 100%;
}

.project {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.project h2 {
    text-align: center;
    margin: auto;
    width: 400px;
    font-weight: 600;
    padding-bottom: 45px;
    padding-top: 50px;
    margin-top: 20px;
    font-size: 50px;
    position: relative;
    left: 76%;

    color: transparent;
    -webkit-text-stroke: 1px var(--text-color);
    background-image: url(img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

.project-card {
    /* border: 2px solid #fff; */
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--body-color);
    /* height: 100vh; */

}

.content h3 {
    font-size: 25px;
    font-weight: 600;
    justify-content: center;
    color: var(--text-color);
}

.content p {
    font-size: 18px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card {
    color: var(--text-color);
    background: var(--body-color);
    /* border: 1px solid #f5f5f5; */
    /* width: 30px; */
    min-height: 150px;
    flex-basis: 30%;
    overflow: hidden;
    /* flex: 0 0 215px; */
    align-items: center;
    padding: 10px 50px;
    margin: 30px 50px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px 10px;
    cursor: pointer;
    border-radius: 15px;
    transition: transform 0.5s ease-in-out, background 0.5s ease-in-out;
}

.card:hover {
    transform: scaleY(1.1);
    background: #ff004f;
}

#invesible {
    display: none;
}

#invesible1 {
    display: none;
}

#invesible2 {
    display: none;
}

#invesible3 {
    display: none;
}

#invesible4 {
    display: none;
}

#invesible5 {
    display: none;
}

#read-more {
    cursor: pointer;
    float: right;
    border: 20px;
    background: transparent;
    color: var(--text-color);
}

#read-more1 {
    cursor: pointer;
    float: right;
    border: 20px;
    background: transparent;
    color: var(--text-color);
}

#read-more2 {
    cursor: pointer;
    float: right;
    border: 20px;
    background: transparent;
    color: var(--text-color);
}

#read-more3 {
    cursor: pointer;
    float: right;
    border: 20px;
    background: transparent;
    color: var(--text-color);
}

#read-more4 {
    cursor: pointer;
    float: right;
    border: 20px;
    background: transparent;
    color: var(--text-color);
}

#read-more5 {
    cursor: pointer;
    float: right;
    border: 20px;
    background: transparent;
    color: var(--text-color);
}

.services {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.services h2 {
    text-align: center;
    margin: auto;
    width: 400px;
    font-weight: 600;
    padding-bottom: 45px;
    padding-top: 50px;
    margin-top: 20px;
    font-size: 50px;
    position: relative;
    left: 76%;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-color);
    background-image: url(img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

/* services */
.services-cont {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    /* flex-basis: 30%; */
    /* flex-wrap: wrap; */
}

.serv {
    min-height: 200px;
    overflow: hidden;
    /* flex: 0 0 215px; */
    flex-basis: 30%;
    align-items: center;
    padding: 10px 50px;
    margin: 30px 50px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px 10px;
    border: inset;
    padding-top: 70px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out, background 0.4s ease-in;
}

.serv:hover {
    transform: translateY(-10px);
    background: #ff004f;
}

.serv h3 {
    font-size: 25px;
    font-weight: 400;
    word-spacing: 1px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffeb3b;
    padding: 5px 0;
}

.serv p {
    font-size: 18px;
    text-align: center;
    text-transform: unset;
    padding: 5px;
    padding: 5px 0;
}

.services_list {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-wrap: wrap;
    width: 100%;

}

.myservices {
    flex-basis: 30%;
    border: 1px solid white;
    margin: 5px 5px;
    width: 100%;
}


.ficon {
    color: var(--text-color);
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

i {
    color: var(--text-color);
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    color: var(--text-color);
}

/* mobile view */
.mobile-view {
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobule-nav {
    width: 5rem;
    height: 5rem;

}

.mobule-nav[name="close-outline"] {
    display: none;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ccc;
    margin-bottom: -5px;


}

.icon ion-icon {
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 40px;
    margin-top: 2px;
    padding-top: 0;
    cursor: pointer;
}

.follow {
    /* background: #fff; */
    width: 100%;
    /* height: 100vh; */
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.follow ion-icon {
    background: transparent;
    color: var(--text-color);
    cursor: pointer;
    font-size: 50px;
    padding: 20px;
}


/* responsive */
@media(max-width:62em) {
    .mobile-view {
        display: block;
        position: fixed;
        top: 0;
        right: 0;

    }

    .logo {
        position: fixed;
        top: 0;
        left: 5px;
    }

    nav ul {
        display: none;

        width: 100%;
        height: 100vh;
        background: var(--body-color);
    }

    nav ul li {
        display: block;
        text-align: center;
        margin-top: 20px;
        padding: 8px 0;
        align-items: center;
    }

    nav ul .form-check {
        align-items: center;
        justify-content: center;
        margin-left: 31%;
        margin-right: 12%;
        margin-top: 5px;
    }

    .intro {
        margin-top: 24%;
        width: 100%;
        min-height: 100vh;

    }


    .user-img {
        display: none;

    }

    .intro a {
        padding: 10px;
        width: 150px;
        margin-left: 33px;
        justify-items: center;
    }

    #about {
        margin: 20px 3px;
        min-height: 100vh;
    }

    .about_left {
        flex-basis: 100%;
    }

    .about_right {
        flex-basis: 100%;
    }


    #skills {
        margin: 20px 3px;
    }

    #skills .container {
        width: 100%;
    }

    .skill_list {
        width: 100%;
    }

    .skillsprogressbar {
        width: 100%;
        padding: 10px 0;
    }






    .progress-bar {
        width: 120%;
        /* margin-left: -50px; */
    }

    #project {
        margin: 20px 3px;
    }



    .project-card {
        width: 100%;
        /* height: 100px; */
        /* display: flex; */
        flex-direction: column;
    }

    .services {
        width: 100%;
        /* min-width: 150px; */
        /* width: 300px; */

    }

    .services h2 {
        text-align: center;
        justify-content: center;
        padding: 0;
        margin-left: -79%;
        /* margin: 10px; */

    }

    .services-cont {
        flex-direction: column;
    }

    #testimonial {
        margin: 20px 3px;
        width: 100%;
    }

    #testimonial.container {
        width: 100%;
        margin: 20px;
    }

    .testimonial_list {
        margin-top: 20px;
        width: 100%;
    }

    .testimonial_profile {
        flex-basis: 100%;
        margin: 30px 13px;
        padding: 30px 0;
    }


    .contact {
        max-width: 300px;
        display: flex;

    }

    .contact_left {
        flex-basis: 100%;
    }

    .contact_right {
        flex-basis: 100%;
        align-items: center;
        justify-content: center;
    }

    .contact h2 {
        text-align: center;
        justify-content: center;
        /* margin: auto; */

        margin-left: -79%;
    }


    form input,
    form textarea {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    form button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;


    }



}